@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    width: 100vw;
    height: 100vh;
    background: #f3f3f3;

}

nav{
    text-align: center;
    background-color: #483D8B;
    width: 100vw;
    padding: 10px;
}

nav h1{
    color: #fff;
    font-weight: 700;
    font-size: 30pt;
    margin: 20px 10px;
}

nav li{
    display: inline;
    list-style: none;
}

nav a{
    text-decoration: none;  
}

nav a img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

nav a span{
    color: #fff;
    font-size: 14pt;
}
main{
    background: #f3f3f3;
    width: 100vw;
    padding-top: 10px;
}

.card-principal{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    border: 2px solid #483D8B;
    border-radius: 20px;
    padding-top: 10px;
    margin: 10px 10px 10px 40px;
}

.card-principal img{
    width: 400px;
    height: 300px;
    padding: 25px;  
}

.card-principal p{
   background: #ff6700;
   width: 100%;
   border-radius: 0px 0px 20px 20px;
   padding: 10px;
   font-size: 14pt;
   color: #fff;
}


div{
    display: inline-block;
}

.times{
    width: 30%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    border: 2px solid #483D8B;
    border-radius: 20px;
    padding-top: 0px;
}


.times h1{
    background:#ff6700;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.times p{
    background:#ff6700;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    text-align: center;
    padding: 30px;
    color: #fff;
}

.times img{
    width: 300px;
    height: 200px;
    margin: 70px 0;
}

#vasco{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#fluminense{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#flamengo{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


footer{
    background-color: #483D8B;
    width: 100vw;
    height: 100px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

footer a{
    text-decoration: none;
    color: #f3f3f3;
    padding: 10px 5px;
    font-size: 14pt;

}

footer i{
    width: 100%;
    font-size: 12pt;
    color: #f3f3f3;

}

