@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    width: 100vw;
    height: 100vh;
    background: #5F9EA0;

}

nav{
    text-align: center;
    background-color: #5F9EA0;
    width: 100vw;
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
}


nav h1{
    color: #fff;
    font-weight: 700;
    font-size: 20pt;
    margin: 5px;
}

nav li{

    display: inline-flex;

}

nav a{
    text-decoration: none; 
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
 
}

nav a img{
    width: 50px;
    height: 50px;
}

nav a span{

    text-decoration: none;
    color:#f3f3f3;
    text-align: center;
}

main{
    background: #DCDCDC;
    width: 100vw;
    height: 140rem;
    padding-top: 10px;
}

.times{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    border: 2px solid #5F9EA0;
    border-radius: 20px;
    padding-top: 10px;
    margin: 10px 10px 20px 40px;
}

.times img{
    width: 400px;
    height: 300px;
    padding: 25px;  
}

.times p{
   background: #5F9EA0;
   width: 100%;
   border-radius: 0px 0px 20px 20px;
   padding: 10px;   
   font-size: 14pt;
   color: #fff;
   text-align: justify;
}

footer{
    background-color: #5F9EA0;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}



footer a{
    text-decoration: none;
    color: #f3f3f3;
    padding: 10px 5px;
    font-size: 14pt;

}

footer i{
    width: 100%;
    font-size: 12pt;
    color: #f3f3f3;

}

/*Small devices (landscape phones, 576px and up)*/
/*
@media (min-width: 0px) and (max-width: 500px) {

    .card-principal img{
        width: 100px;
        height: 75px; 
    }
    
    .times img{
        width: 75px;
        height: 50px;
    }

    h1{
        font-size: 10pt;
    }

    p{
        font-size: 10pt;
    }

}


@media (min-width: 500px) and (max-width: 768px) {

    .card-principal img{
        width: 200px;
        height: 150px; 
    }
    
    .times img{
        width: 150px;
        height: 100px;
    }

}


@media (min-width: 768px) and (max-width: 992px) {
    .card-principal img{
        width: 200px;
        height: 150px; 
    }
    
    .times img{
        width: 150px;
        height: 100px;
    }
}
*/

/*Large devices (desktops, 992px and up)*/
/*
@media (min-width: 992px) and (max-width: 1200px) {
    .card-principal img{
        width: 400px;
        height: 300px; 
    }
    
    .times img{
        width: 300px;
        height: 200px;
    }
}
*/

/*Extra large devices (large desktops, 1200px and up)*/
/*
@media (min-width: 1200px) { 
    
    .card-principal img{
        width: 400px;
        height: 300px; 
    }
    
    .times img{
        width: 300px;
        height: 200px;
    }
}
*/